.formContainer {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
}
label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
